CHECKPOINT_MGMT=https://10.10.10.10
CHECKPOINT_USER=api_user
CHECKPOINT_PASSWORD=change_me
CHECKPOINT_DOMAIN=
CHECKPOINT_VERIFY_SSL=false
CHECKPOINT_TIMEOUT=90
CHECKPOINT_MIN_REQUEST_INTERVAL=0.55
CHECKPOINT_RATE_LIMIT_RETRIES=4
CHECKPOINT_RATE_LIMIT_BASE_DELAY=2
CHECKPOINT_CACHE_TTL=300
